/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables */
:root {
    --base-background-color: #eee;
    --spacing-horizontal-normal: 1em;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    padding-top: 0;
    margin-top: 0;
}