/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables */
:root {
    --body-bg-color: #fff;
    --spacing-vertical-normal: 1em;
    --spacing-vertical-small: 0.5em;
    --spacing-horizontal-small: 0.25em;
    --max-width-normal: 30em;
}

i {
  cursor: pointer;
}

/* Utility classes */

.noselect {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/*Using shoelace's styles instead*/
/*.isDirty input:required:invalid, .isDirty input:focus:invalid {
  border: 1px solid var(--color-primary);
}

.isDirty input:required:valid {
  border: 1px solid var(--color-green);
}*/

.spacer-top {
  margin-top: var(--spacing-vertical-normal);
}

.spacer-top-small {
  margin-top: var(--spacing-vertical-small);
}